body {
    font-family: 'Quicksand', sans-serif;
    padding: 15px;
}

h3 {
    color: black;
}

.column {
    float: left;
    width: 25%;
    padding-right: 20px;
}

#col-upload {
    width: 40%;
}

#url-input {
    width: 300px;
}

#all-songs-list > li {
    cursor: pointer;
}

#all-songs-list > li:hover {
    color: blue;
}

#choosing-songs {
    display: none;
}

#all-songs-withcheck {
    display: none;
}

#playlists-list > ol > li {
    cursor: pointer;
}

#playlists-list > ol > li:hover {
    color: blue;
}
